//VARIABLES//

// FONT SİZE //


$title1_font:'Heebo', sans-serif;
$title2_font:'Bebas Neue', cursive;
$spf: 'Anton', sans-serif;;
$text-font:'Roboto', sans-serif;

// COLOR //

$primary_color:rgb(0,223,162);
$secondary_color:rgb(0,162,117);
$title_color1:#fefefe;
$title_color2:#171717;
$title_color3:#181915;
$text_color:#333333;

// BACKGROUND-COLOR //

$bg1: #171717;
$bg2: #fefefe;
$bg3: #dedede;

//TRANSITION / ANİMATİON //
$general-transition: all .5s;


// Navigation Social Media //
$nav-social-icon-size: 2rem;
